In [2]:
# Leitura dos arquivos de discurso
## Teste de performance de carga e tokenização

In [3]:
import nltk # carga do pacote Natural Language Toolkit
import time
import pandas as pd
import numpy as np

In [4]:
# verificando desempenho de carga e tokenização para o corpus
def teste_desempenho( vet_anos, df ):
    # vet_anos é um range(ano_ini, ano_fim)
    # df é um dataframe vazio ou com as colunas Ano, Leitura e Tokenizacao
    
    for i in vet_anos:

        t1 = time.time()
        f = open(r'F:\_Pesquisa\PosDoc\Corpora\Discursos_'+str(i)+'.txt','r')
        raw = f.read()
        t1 = time.time() - t1

        t2 = time.time()
        tokens = nltk.word_tokenize(raw)
        t2 = time.time() - t2

        f.close()

        print(str(i))

        df = df.append(pd.Series({'Ano': str(i),'Leitura': t1, 'Tokenizacao': t2 }),ignore_index = True)
        
    return df

In [5]:
# cria dataframe para os dados de desempenho
df_des = pd.DataFrame()

In [6]:
# dados de 2003 a 2011
df_des =  teste_desempenho(range(2003, 2011+1), df_des)
df_des.to_csv('demepenho.csv', sep=';', index=False)

2003
2004
2005
2006
2007
2008
2009
2010
2011

In [7]:
# cria dataframe para os dados de desempenho de 2012
df_des = pd.read_csv('demepenho.csv', sep=';')
df_des =teste_desempenho(range(2012,2017+1), df_des)

2012
2013
2014
2015
2016
2017

In [8]:
df_des.to_csv('demepenho.csv', sep=';', index=False)

In [9]:
df_des

     Ano   Leitura  Tokenizacao
0   2003  0.380770   126.526620
1   2004  0.342241    98.215475
2   2005  0.318725   102.774788
3   2006  0.235168    74.652868
4   2007  0.338612   125.963364
5   2008  0.300842    93.206282
6   2009  0.337065   111.762475
7   2010  0.200620    78.036849
8   2011  0.363815   113.148138
9   2012  0.310300    98.432114
10  2013  0.385062   128.020752
11  2014  0.284906    81.537322
12  2015  0.300830    93.562237
13  2016  0.253673    79.699111
14  2017  0.068527    20.912674